{% extends 'base.html' %}
{% load static %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'myapp/users.css' %}" />
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center">User List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td id='users_table_username'>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}